.project_container {
	display: block;
	width:80%;
	margin:auto;
}

.title {
	width: 100%;
	text-align: center;
}

.title h3 {
	font-size: 1.5em;
	font-weight: normal;
	font-family: sans-serif;
}

.title h4 {
	font-size: 1.0em;
	font-weight: normal;
	font-family: "Open Sans";
}

.content {
	text-align: center;
}

.content p {
	margin-top: 20px;
	margin-bottom: 20px;
}

.image{
	width: 80%;
	height: 80%;
	margin-top: 20px;
	margin-bottom: 20px;
	background-repeat: no-repeat;
}

.divider {
	margin: 20px;
	border-width: 1px;
}

.bottom {

}

.contact {
	margin-top:30px;
	display: block;
	text-align: center;
}

.contact a {
	margin-left: 10px;
	margin-right: 10px;
	text-decoration: none;
	display: inline-block;
}


.contact a img {
	width: 35px;
	opacity: 0.3;

    -webkit-transition-property: opacity;
    -webkit-transition-duration: 0.5s;
    -webkit-transition-timing-function: ease;
    -webkit-transition-delay: initial;
    /* Standard syntax */
    transition-property: opacity;
    transition-duration: 0.5s;
    transition-timing-function: ease;
    transition-delay: initial;
}

.contact a img:hover {
	opacity: 1.0;
}

.copyright {
	text-align: center;
	width: 100%;
	margin-bottom: 40px;
	margin-top: 20px;
	display: block;
}

.copyright h5 {
	color: #3c383b;
	opacity: 0.5;
}





